* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #faf9f7;
    color: #05055c;
}



.navbar {
    height: 72px;
    background:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 42px;
    color: #08084d;
    position: relative;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 18px;
}

.logo {
    font-size: 31px;
    margin-right: 8px;
}

.nav-item {
    height: 72px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-item > a {
    color: #08084d;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 800;
    white-space: nowrap;
}

.nav-popup {
    position: absolute;
    top: 72px;
    left: -20px;
    width: 650px;
    min-height: 240px;

    background: white;
    color: #111432;

    display: none;

    padding: 28px 30px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.nav-item:hover .nav-popup {
    display: flex;
    gap: 60px;
}

.popup-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 150px;
}

.popup-column h4 {
    font-size: 14px;
    margin-bottom: 8px;
}

.popup-column a {
    color: #555;
    text-decoration: none;
    font-size: 13px;
}

.popup-column a:hover {
    color: #111432;
}


/*  NAV RIGHT  */

.nav-right {
    display: flex;
    align-items: center;
    gap: 22px;
}

.search-box {
    width: 220px;
    height: 44px;
    background: #f5f5f5;
    border-radius: 9px;

    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 12px;
}

.search-box i {
    color: #111432;
}

.search-box input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #111432;
    font-size: 14px;
}

.nav-icon {
    font-size: 21px;
    cursor: pointer;
}


/*  CART  */

main {
    min-height: calc(100vh - 80px);

    padding: 40px 14%;
}


/* Cart Heading */

h1 {
    font-size: 25px;
    font-weight: 400;

    color: #05055c;
}


/* Empty Cart */

.empty-cart {
    height: 275px;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-cart h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #05055c;
}


/* Continue Shopping */

.shopping-btn {
    width: 330px;
    height: 56px;

    border: none;

    border-radius: 30px;

    background: #05005c;
    color: white;

    font-size: 24px;

    cursor: pointer;
    transition: 0.3s;
}

.shopping-btn:hover {
    background: #17176f;

    transform: scale(1.02);
}


/*  LOGIN CARD  */

.login-card {
    width: 100%;
    height: 66px;

    background: white;

    border-radius: 9px;
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.12);

    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 0 17px;
    margin-top: 25px;
}


/* Card Text */

.login-card p {
    font-size: 14px;
    font-weight: 600;
    color: #10105e;
}


/* Arrow Button */

.arrow-btn {
    width: 32px;
    height: 25px;
    border: 1px solid #7777a5;
    border-radius: 20px;
    background: white;
    color: #151568;

    font-size: 18px;

    display: flex;

    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-btn:hover {
    background: #05005c;
    color: white;
}


/*    RESPONSIVE   */

@media (max-width: 700px) {

    header {
        padding: 0 25px;
    }

    .logo {
        font-size: 23px;
    }

    .header-right {
        gap: 3px;
    }

    .safe {
        font-size: 10px;
    }

    .phone {
        font-size: 12px;
    }

    .phone strong {
        font-size: 14px;
    }

    main {
        padding: 30px 25px;
    }

    h1 {
        font-size: 22px;
    }

    .empty-cart h2 {
        font-size: 20px;
        text-align: center;
    }

    .shopping-btn {
        width: 280px;
        font-size: 20px;
    }

    .login-card p {
        font-size: 11px;
    }
}

/* Footer */

.footer {
    background: #050544;
    color: white;
}

.footer-top {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 2fr;

    gap: 30px;

    padding: 28px 55px 35px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer-column h3 {
    font-size: 22px;
    font-weight: 500;
}

.footer-column a {
    color: white;
    text-decoration: none;

    font-size: 13px;
}

.app-section {
    text-align: center;
}

.app-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.app-button {
    border: 1px solid white;
    border-radius: 5px;

    padding: 5px 14px;

    display: flex;
    flex-direction: column;
}

.app-button small {
    font-size: 8px;
}

.app-button strong {
    font-size: 13px;
}

.app-section p {
    margin-top: 25px;

    font-size: 14px;
    line-height: 1.5;
}

.footer-bottom {
    margin: 0 55px;

    padding: 28px 0;

    border-top: 1px solid white;

    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    gap: 40px;
}

.footer-links a {
    color: white;
    text-decoration: none;

    font-size: 13px;
}

.social-icons {
    display: flex;
    gap: 20px;

    font-size: 20px;
}