* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #05005c;
}

.navbar {
    height: 72px;
    background:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 42px;
    color: #08084d;
    position: relative;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 18px;
}

.logo {
    font-size: 31px;
    margin-right: 8px;
}

.nav-item {
    height: 72px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-item > a {
    color: #08084d;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 800;
    white-space: nowrap;
}

.nav-popup {
    position: absolute;
    top: 72px;
    left: -20px;
    width: 650px;
    min-height: 240px;

    background: white;
    color: #111432;

    display: none;

    padding: 28px 30px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.nav-item:hover .nav-popup {
    display: flex;
    gap: 60px;
}

.popup-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 150px;
}

.popup-column h4 {
    font-size: 14px;
    margin-bottom: 8px;
}

.popup-column a {
    color: #555;
    text-decoration: none;
    font-size: 13px;
}

.popup-column a:hover {
    color: #111432;
}


/* NAV RIGHT  */

.nav-right {
    display: flex;
    align-items: center;
    gap: 22px;
}

.search-box {
    width: 220px;
    height: 44px;
    background: #f5f5f5;
    border-radius: 9px;

    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 12px;
}

.search-box i {
    color: #111432;
}

.search-box input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #111432;
    font-size: 14px;
}

.nav-icon {
    font-size: 21px;
    cursor: pointer;
}



/* Wishlist Title */

.wishlist-title {
    height: 63px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.wishlist-title h1 {
    font-size: 30px;
    font-weight: 700;
    color: #05005c;
}

.wishlist-title span {
    font-size: 20px;
    font-weight: 400;
    color: #9999b8;
}


/* Main Wishlist Section */

.wishlist-section {
    height: 453px;
    background-color: #f2f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Content */

.wishlist-content {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Image */

.wishlist-image {
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist-image img {
    width: 280px;
    height: auto;
    display: block;
}


/* Right Text */

.wishlist-text {
    width: 300px;
    text-align: center;
}

.wishlist-text h2 {
    font-size: 34px;
    line-height: 1.15;
    font-weight: 700;
    color: #05005c;
    margin-bottom: 20px;
}

.wishlist-text p {
    font-size: 20px;
    line-height: 1.4;
    color: #68689a;
    margin-bottom: 27px;
}


/* Login Button */

.wishlist-text button {
    width: 260px;
    height: 52px;
    border: none;
    border-radius: 12px;
    background-color: #05005c;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.wishlist-text button:hover {
    background-color: #080879;
}

.footer {
    background: #050544;
    color: white;
}

.footer-top {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 2fr;

    gap: 30px;

    padding: 28px 55px 35px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer-column h3 {
    font-size: 22px;
    font-weight: 500;
}

.footer-column a {
    color: white;
    text-decoration: none;

    font-size: 13px;
}

.app-section {
    text-align: center;
}

.app-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.app-button {
    border: 1px solid white;
    border-radius: 5px;

    padding: 5px 14px;

    display: flex;
    flex-direction: column;
}

.app-button small {
    font-size: 8px;
}

.app-button strong {
    font-size: 13px;
}

.app-section p {
    margin-top: 25px;

    font-size: 14px;
    line-height: 1.5;
}

.footer-bottom {
    margin: 0 55px;

    padding: 28px 0;

    border-top: 1px solid white;

    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    gap: 40px;
}

.footer-links a {
    color: white;
    text-decoration: none;

    font-size: 13px;
}

.social-icons {
    display: flex;
    gap: 20px;

    font-size: 20px;
}